drupal/sites/default/files/js/
drupal/sites/default/files/css/
drupal/sites/default/files/php/
drupal/sites/default/files/styles/

# Dependency directories
11ty/node_modules/

# 11ty
11ty/public/
11ty/src/css

# Misc
11ty/.cache
11ty/.env
11ty/.DS_Store
.DS_Store
.cache