---
layout: base.njk
---

<div class="viewport-container">
  {% include "partials/breadcrumbs.njk" %}
  <div class="flex-layout container">
    <aside>
      {% include "partials/side-nav.njk" %}
    </aside>
    <div class="main-content">
      {{ content | safe }}
    </div>
  </div>
</div>