---
pagination:
  data: drupal.page
  size: 1
  alias: node
  addAllPagesToCollections: true
permalink: "/{{ node.permalink }}/"
tags: pages
layout: page.njk
templateEngineOverride: md, njk
eleventyComputed:
  title: "{{ node.title }}"
  eleventyNavigation:
    key: "{{ node.eleventyNavigation.key }}"
    summary: "{{ node.summary }}"
    parent: "{{ node.eleventyNavigation.parent }}"
    order: "{{ node.eleventyNavigation.order }}"
---

<h1>{{ node.title }}</h1>
{{ node.content | safe }}