div.node__content {
  font-size: 1rem;
}

pre.code {
  margin: 1rem;
  padding: 2.5rem 1rem 1rem;
  border: solid 1px #E5E9ED;
  border-radius: 4px;
  font-family: monospace;
  background: #000000;
  color: white;
  position: relative;
}

pre.code:before {
  content: "Code";
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-transform: uppercase;
  background: #687781;
  padding: 2px 0;
  font-size: .9rem;
  text-indent: 15px;
}

/* FROM umlib */
p.umich-lib-callout,
p.umich-lib-alert {
  margin: 16px 0;
  padding: 16px;
  border: solid 1px #E5E9ED;
  border-radius: 4px;
}

p.umich-lib-callout {
  border-left: solid 4px #1D7491;
}

p.umich-lib-alert {
  border-left: solid 4px #FFCB05;
}

blockquote {
  font-size: 18px;
  margin: 24px;
  padding-left: 16px;
  border-left: solid 4px #FFCB05;
  font-style: italic;
}

/* blockquote {
  margin: 1rem;
  padding: 1rem;
  border: solid 1px #E5E9ED;
  border-radius: 4px;
  font-family: monospace;
  background: #000000;
  color: white;
  position: relative;
}

blockquote a {
  color: rgb(167, 146, 90);
}

blockquote:before {
  content: "Code";
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-transform: uppercase;
  background: #687781;
  padding: 2px 0;
  font-size: .9rem;
  text-indent: 15px;
} */