---
layout: base.njk
---

<div class="flex-layout viewport-container">
  <aside class="page-aside">
        {% include "partials/side-nav.njk" %}
    </aside>
  <div class="main-content">
    <div class="prose">
    {{ content | safe }}
    </div>
    <div class="card-container--landing">
       {% set childPages = collections.pages | eleventyNavigation(eleventyNavigation.key) %}
       {% set childRDPages = collections.reusableDesignAtoZ | eleventyNavigation(eleventyNavigation.key) %}
          <div class="cards">
              {%- for entry in childPages %}
               <a href="{{ entry.url }}">
                <section class="card">
                  <h2>
                    {{ entry.title }}
                  </h2>
                  <p>
                    {{ entry.summary}}
                  </p>
                </section>
              </a>
               {%- endfor %}

              {%- for entryRD in childRDPages %}
               <a href="{{ entryRD.url }}">
                <section class="card">
                  <h2>
                    {{ entryRD.title }}
                  </h2>
                  <p>
                    {{ entryRD.summary }}
                  </p>
                </section>
              </a>
             {%- endfor %}
          </div>
      </div>
    </div>
  </div>
  {% include "partials/contact-us-banner.njk" %}