---
layout: base.njk
---

<div class="viewport-container">
  {% include "partials/breadcrumbs.njk" %}
  <div class="flex-layout container">
    <aside class="page-aside">
    <nav aria-label="Site navigation" class="side-nav">
      <ul>
        {%- for entry in collections.reusableDesignAtoZ %}
          <li {% if entry.url == page.url %} class="active-side-nav-page" {% endif %}>
            <a href="{{ entry.url }}">{{ entry.data.title }}</a>
          </li> 
        {%- endfor %}
      </ul>
    </nav>
    </aside>
    <div class="main-content" data-pagefind-body>
      <div class="prose">
        {{ content | safe }}
      </div>
    {% include "partials/rd-page-pagination.njk" %}
    </div>
  </div>
  <div class="back-to-top">
    <a href="#main" class="back-to-top-link hidden">Back to top</a>
  </div>
</div>  
{% include "partials/feedback-banner.njk" %}