<section class="callout">
  <div class="callout-box"></div>
  <svg role="presentation" aria-hidden="true" focusable="false" id="callout-box-svg" viewBox="0 0 280 282">
    <style type="text/css">
      .border {
        stroke-width: 8;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 1.5;
      }
    </style>
    <path class="rectangle" fill="#A7CDDB" stroke="none" d="M0,0h250v250H0V0z"/>
    <path class="border" fill="none" stroke="#65A8BF" d="M26.3,28.3h250v250h-250V28.3z"/>
  </svg>
  <div class="viewport-container">
    <h2>Can't find something you need?</h2>
    <div class="callout-container-text">
      <p>Send us an email at
        <a href="mailto:library-design-system-team@umich.edu">library-design-system-team@umich.edu</a>
        and tell us about what you're looking for. We'll respond as soon as possible — usually within 2 business days — to
        discuss your request.</p>
    </div>
  </section>