<section class="callout">
  <div class="callout-box"></div>
  <svg role="presentation" aria-hidden="true" focusable="false" id="callout-box-svg" viewBox="0 0 280 282">
    <style type="text/css">
      .border {
        stroke-width: 8;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 1.5;
      }
    </style>
    <path class="rectangle" fill="#A7CDDB" stroke="none" d="M0,0h250v250H0V0z"/>
    <path class="border" fill="none" stroke="#65A8BF" d="M26.3,28.3h250v250h-250V28.3z"/>
  </svg>
  <div class="viewport-container">
    <h2>Quick Resources</h2>
    <div class="callout-container">
      <a href="#">
        <div class="callout-card">
          <div class="callout-card-icon-container">
            <span class="callout-card-icon code-icon material-icons">
              code
            </span>
          </div>
          <div>
            <h3>Reusable Designs</h3>
            <p>Browse the source code on CodePen or learn to use in our visual elements.</p>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="callout-card">
          <div class="callout-card-icon-container">
            <span class="callout-card-icon design-services-icon material-icons">
              design_services
            </span>
          </div>
          <div>
            <h3>Figma UI Toolkit</h3>
            <p>Create mockups with our Figma Design Library in the Figma community.</p>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="callout-card">
          <div class="callout-card-icon-container">
            <span class="callout-card-icon palette-icon material-icons">
              palette
            </span>
          </div>
          <div>
            <h3>Colors</h3>
            <p>Find our brand colors and other available styles.</p>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="callout-card">
          <div class="callout-card-icon-container">
            <span class="callout-card-icon description-icon material-icons">
              description
            </span>
          </div>
          <div>
            <h3>Document Templates</h3>
            <p>Use our accessible Google slides and document templates.</p>
          </div>
        </div>
      </a>
    </div>
  </section>