<article class="feedback-banner">
  <div class="viewport-container feedback-banner-container">
    <span class="feedback-icon material-icons">help</span>
    <p>Was this page helpful? Did you find what you need? Please <a href="">submit feedback</a> so we can improve.</p>
  <div>
</article