<article class="feedback-banner">
  <div class="viewport-container feedback-banner-container">
    <span class="feedback-icon material-icons">help</span>
    <p>Was this page helpful? Please <a href="https://umich.qualtrics.com/jfe/form/SV_3kkZEoQLnfnBp8W">submit feedback<span class="visually-hidden">opens in new window</span></a> so we can improve.</p>
  <div>
</article