{% set parentNav = collections.all | eleventyNavigation(eleventyNavigation.parent) %}
{% set nextItem = null %}
{% for item in parentNav %}
  {% if item.key == eleventyNavigation.key %}
    {% set nextItem = parentNav[loop.index0 + 1] %}
  {% endif %}
{% endfor %}

<div class="back-to-top">
  <a href="#main" class="back-to-top-link">Back to top</a>
</div>

<div class="page-pagination">
  {% if nextItem %}
    <div class="line"></div>
    <nav aria-label="pagination" class="pagination-text">
      <h2>Next</h2>
      <a href="{{ nextItem.url }}">{{ nextItem.title }}</a>
    </nav>
  {% endif %}
</div>