@use 'media';
// --------------------------------------------------
//
// # Banners
//   1. Banners (heros) for home and landing pages
//   Background color, heading, text, and image (if applicable)
//   2. Banners found above footer
//   Full width banner containing text feedback form or contact
// --------------------------------------------------


// ************************** //
// *** 1. Banners - Hero *** //
// ************************ //

/* New hero banner May 2025 */
.ds-banner-grid {
  display: grid;
  width: 100%;
  grid-template-areas:
    "banner";
 }

.ds-banner-text {
  grid-area: banner;
  z-index: 1;
  color: var(--color-neutral-400);
  width: 40vw;
  padding-left: 1rem;
  place-self: center start;
  margin-left: 2rem;
  z-index: 1; /* Text appears above the SVG */
  text-wrap: pretty;
  }

.ds-banner-text > h1 {
  font-weight: 400;
  font-size: 3rem;
  width: 15ch;
  margin-bottom: 0;
  padding-top: .75rem;
  backdrop-filter: blur(1px);
}

.ds-banner-text > p {
  width: 35ch;
  font-size: 1.25rem;
  backdrop-filter: blur(1.5px);
}

#ds-banner-svg {
  grid-area: banner;

/*
@include media.breakpoint('sm', 'max-width') {
    width: 100%;
  }*/
}

// ******************************************** //
// *** 2. Banners for Feedback and Contact *** //
// ****************************************** //

.feedback-banner {
  background-color: var(--color-indigo-100);
  padding: 1em 0;
  
  a {
    font-weight: bold;
  }
}

.feedback-banner-container {
  display: flex;
  align-items: center;
}

.feedback-icon, .contact-icon {
  border-radius: 100%;
  margin-right: .5rem;
  color: var(--color-teal-400);
}