@use 'media';
// --------------------------------------------------
//
// # Banners
//   1. Banners (heros) for home and landing pages
//   Background color, heading, text, and image (if applicable)
//   2. Banners found above footer
//   Full width banner containing text feedback form or contact
// --------------------------------------------------


// ************************** //
// *** 1. Banners - Hero *** //
// ************************ //

.banner {
  display: grid;
  grid-template-areas: "banner";
  width: 100%;
  overflow-x: clip;

   @include media.breakpoint('xl', 'max-width') {
   border-right: solid 2px var(--banner-svg-grid);
   }
}

#banner-grid,
#banner-images,
.banner-text {
  grid-area: banner; 
}

#banner-grid {
  z-index: 1;
}

#banner-images{
  z-index: 2;
}

.banner-text {
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;

  h1 {
    font-family: var(--font-base-family);
    font-size: 3rem;
    margin-top: .75rem;
    background: var(--bg-overlay); 
    max-width: 12ch;

    @include media.breakpoint('sm', 'max-width') {
    font-size: 2.5rem;
    max-width: 100%;
    }
  }
  
  p {
    font-family: var(--font-base-family);
    font-size: 1.25rem;
    background: var(--bg-overlay); 
    max-width: 30ch;
    
    @include media.breakpoint('sm', 'max-width') {
    max-width: 20ch;
    }
  }

  @include media.breakpoint('xs', 'max-width') {
   padding: 0 0 0 2rem;
   }
}

.banner {
  @include media.breakpoint('lg', 'max-width') {
    #banner-images {
      display: none;
    }
  }
}

// ******************************************** //
// *** 2. Banners for Feedback and Contact *** //
// ****************************************** //

.feedback-banner {
  background-color:var(--bg-banner);
  padding: 1em 0;
  
  a {
    font-weight: bold;
  }
}

.feedback-banner-container {
  display: flex;
  align-items: center;
}

.feedback-icon, .contact-icon {
  border-radius: 100%;
  margin-right: .5rem;
  color: var(--link);
}