@use 'media';
// --------------------------------------------------
//
// # Banners
//   1. Banners (heros) for home and landing pages
//   Background color, heading, text, and image (if applicable)
//   2. Banners found above footer
//   Full width banner containing text feedback form or contact
// --------------------------------------------------


// ************************** //
// *** 1. Banners - Hero *** //
// ************************ //

.banner {
  background-color: var(--color-teal-100);
}

.banner-container {
  display: flex;
} 

.banner-text-home, .banner-image-home {
  width: calc(50% - .5rem);
}

.banner-image-home {
  background-image: linear-gradient(45deg,
  rgba(16, 102, 132, 0.25),
  rgba(8,83,156, 0.25)), url("/img/library.webp");
  background-size: cover;
  background-repeat: no-repeat;

  @include media.breakpoint('sm', 'max-width') {
    display: none;
  }
}

.banner-text-home {
  padding: 2rem 0;

  .breadcrumbs {
    padding: 0 0 1.5rem;
  }

  h1 {
   max-width: 12ch;
  }
  p {
    max-width: 50ch;
    font-size: 1.125rem;
  }

  @include media.breakpoint('sm', 'max-width') {
    width: 100%;
  }
}

.banner-text.landing {
  padding: 2rem 0;

  .breadcrumbs {
    padding: 0 0 1.5rem;
  }

  h1 {
    max-width: 20ch;
  }
  
 p {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
  }


  @include media.breakpoint('sm', 'max-width') {
    width: 100%;
  }
}


// ******************************************** //
// *** 2. Banners for Feedback and Contact *** //
// ****************************************** //

.feedback-banner {
  background-color: var(--color-indigo-100);
  padding: 1em 0;
  
  a {
    font-weight: bold;
  }
}

.feedback-banner-container {
  display: flex;
  align-items: center;
}

.feedback-icon, .contact-icon {
  border-radius: 100%;
  margin-right: .5rem;
  color: var(--color-teal-400);
}