@use 'media';
// --------------------------------------------------
//
// # Banners
//   1. Banners (heros) for home and landing pages
//   Background color, heading, text, and image (if applicable)
//   2. Banners found above footer
//   Full width banner containing text feedback form or contact
// --------------------------------------------------


// ************************** //
// *** 1. Banners - Hero *** //
// ************************ //

.banner {
  
}

.banner-container {
  margin: 3rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
} 

.banner-text {

  h1 {
    font-family: var(--font-base-family);
    font-size: 3rem;
  }
}

.banner-image-home {
  background-image: url("/img/");
  background-size: cover;
  background-repeat: no-repeat;

  @include media.breakpoint('sm', 'max-width') {
    display: none;
  }
}

// ******************************************** //
// *** 2. Banners for Feedback and Contact *** //
// ****************************************** //

.feedback-banner {
  background-color: var(--color-indigo-100);
  padding: 1em 0;
  
  a {
    font-weight: bold;
  }
}

.feedback-banner-container {
  display: flex;
  align-items: center;
}

.feedback-icon, .contact-icon {
  border-radius: 100%;
  margin-right: .5rem;
  color: var(--color-teal-400);
}