// --------------------------------------------------
//
// # Base Global Styles
//
// ## Table of Contents
//   1. Typography
//   2. Global elements
//     2.1 Details <details>
//     2.2 Code blocks <pre class="code">
//     2.3 Blockquotes <blockquote>
//     2.4 Images
//     2.5 Accessibility
//     2.6 DS web components
// --------------------------------------------------

// ********************** //
// *** 1. TYPOGRAPHY *** //
// ******************** //
h1 {
  font-weight: 400;
  padding-bottom: 1rem;
}

.prose h2 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.prose h3, 
.prose h4,
.prose h5, 
.prose h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.headers {
  border-bottom: solid 2px var(--color-neutral-100);
}

.prose {
  max-width: 60ch;
}

// *************************** //
// *** 2. GLOBAL ELEMENTS *** //
// ************************* //


// 2.1 Details

details {
  border: solid 1px var(--color-neutral-100);
  width: 620px;
  p {
    font-size: 1rem;
    margin: 1rem;
  }
} 

summary {
  border-left: solid 4px var(--color-teal-400);
  padding: 1rem;
  list-style: none;
  cursor: pointer;
  font-weight: var(--bold);
  color: var(--color-neutral-400);
  font-size: 1.25rem;
}


// 2.2 Code block (pre)

pre.code {
  width: auto;
  overflow-x: initial;
  margin-top: 1.5rem;
}

// 2.3 Blockquote

blockquote {
  padding: .25rem 1rem;
  border-left: solid 4px var(--color-neutral-300);
  color: var(--color-neutral-300);
  font-weight: var(--semibold);
  font-size: 1rem;
}

// 2.4 Images

.prose p:has(img)  {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.prose p:has(img + img) > img {
  max-width: 50%;
}

.prose img {
  width: revert;
  max-width: 100%;
  padding: 1rem 0;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

// 2.5 Accessibility

.opens-new-window::after {
    font-family: "Material Symbols Rounded";
    content: '\e89e';
    color: var(--color-teal-400);
    font-size: 1.25rem;
    padding-left: .25rem;
    vertical-align: sub;
}

/* Use focus-visible for keyboard users with the skip links */
#main:focus, #footer:focus {
  box-shadow: none;
}
#main:focus-visible, #footer:focus-visible {
  box-shadow: 0 0 0 2px var(--color-maize-400), 0 0 0 3px var(--color-neutral-400);
}

// 2.6 DS Web Components

m-universal-header {
  display: block;
  transition: max-height 0.25s ease-out;
  max-height: 600px;
}

m-universal-header:not(.hydrated) {
  height: 3.59rem;
  max-height: 3.59rem;
}

m-website-header {
  display: block;
  transition: max-height 0.25s ease-out;
  max-height: 600px;
}

m-website-header:not(.hydrated) {
  height: 4rem;
  max-height: 4rem;
}

m-website-header:not(.hydrated) > * {
  display: none;
}
