@use 'media';

// --------------------------------------------------
//
// # Breadcrumbs
//   @link https://codepen.io/team/umlibrary-designsystem/pen/qBVLPYJ/7d4cc0d0725ae889258bafaf831c920e
//
// --------------------------------------------------

.breadcrumbs {
  padding-top: 2rem;
}

.breadcrumbs ol {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs li a:first-child::first-letter  {
  text-transform: capitalize;
}

.banner-text .breadcrumbs {
  @include media.breakpoint('sm', 'max-width') {
      display: none;
    }
}

.breadcrumbs li:first-child {
  padding-left: 0;

  @include media.breakpoint('sm', 'max-width') {
      display: none;
    }
}

.breadcrumbs li:first-child a {
  padding-left: 0 !important;
}

.breadcrumbs a {
  display: inline;
  padding: 0 var(--space-x-small) !important;
}

.breadcrumbs li {
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
}

.breadcrumbs a[aria-current='page'] {
  color: var(--color-neutral-400);
  text-decoration: none;
}

.breadcrumbs a[aria-current='page']:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.breadcrumbs li:not(:first-child):before {
  font-family: "Material Icons";
  content: '\e5cc' !important;
  color: var(--color-teal-400);
  padding-left: .25rem;
  font-size: 1rem;
}

@include media.breakpoint('sm', 'max-width')  {
  .breadcrumbs li:not(li:nth-last-child(2)) {
      display: none;
   }
 
  .breadcrumbs li:nth-last-child(2):before {
    font-family: "Material Icons";
    content: '\e5cb' !important;
    font-size: 1rem;
  }
 }