@use 'media';
// --------------------------------------------------
//
// # Callouts
//
// ## Table of Contents
//   1. Callout
//      1.1 base (quick resources)
//   2. Umich content callouts
//      2.1 Callout (info)
//      2.2 Print
//      2.3 Alert
// --------------------------------------------------

// ************************ //
// *** 1. Callout base *** //
// ********************** //

.callout {
  background-color: var(--color-blue-100);
  border-top: 6px solid var(--color-teal-500);
  padding-top: 2rem;
  position: relative;
  margin-top: 4rem;
}

#callout-box-svg {
  width: 135px;
  height: 135px;
  position: absolute;
  top: -65px;
  left: 85vw;
  transform: rotate(30deg);
  transition: transform 2s;

  @include media.breakpoint('sm', 'max-width') {
    width: 100px;
    height: 100px;
   }
}

@include media.breakpoint('md', 'min-width') {
  #callout-box-svg:hover {
    transform: rotate(45deg);
  }
}

.callout-container {
  padding: 1rem 0 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 500px));
  justify-content: center;
  gap: 1rem 2rem;
  
  a {
    text-decoration: none;
    color: var(--color-neutral-400);
  }
}

.callout-container-text {
  padding: 1em 0 2rem;
  p {
    max-width: 60ch;
    margin: 0;
  }
}

.callout-card {
 display: flex;
 padding: .5rem;
 align-items: center;
 height: 100%;

  p {
  margin: 0.25rem 0;
 }
}

.callout-container a {
  border-radius: 4px;
  border-left: solid 4px transparent;
  transition: box-shadow ease-out 0.8s;
}

.callout-container a:hover {
  border-radius: 4px;
  border-left: solid 4px var(--color-teal-400);
  box-shadow: inset 500px 0 0 0 var(--color-neutral-100);

  @include media.breakpoint('sm', 'max-width') {
    box-shadow: none;
    border-left: solid 4px transparent;
 }
}

.callout-card-icon {
  border-radius: 100%;
  font-size: 2rem;
  padding: 1rem;
  margin-right: 1rem;
  color: white;

  &.description-icon {
    background-color: var(--color-indigo-400);
  }
  &.logo-icon {
    background-color: var(--color-teal-400);
  }
  &.design-services-icon {
    background-color: var(--color-pink-400);
  }
  &.palette-icon {
    background-color: var(--color-orange-400);
  }
}

// ********************************** //
// *** 2. Umich Content callouts *** //
// ******************************** //

.umich-lib-callout,
blockquote {
  margin: 1rem 0;
  padding: 1rem;
  border: solid 1px #E5E9ED;
  border-radius: 4px;
}

.umich-lib-callout > p,
blockquote > p:first-of-type {
  margin: 0;
}

.umich-lib-callout.info {
  padding: 1rem 1rem 1rem 1.5rem;
  border-left: solid 4px var(--color-teal-400);
}

.umich-lib-callout.print {
  border-left: solid 4px var(--color-green-400);
  &::before {
    font-family: "Material Icons";
    content: '\e8ad';
    color: var(--color-green-400);
    font-size: 1.5rem;
    padding-right: 1rem;
    float:left;
    height: 80px;
    }
}

.umich-lib-callout.alert {
  border-left: solid 4px var(--color-pink-400);
  &::before {
    font-family: "Material Icons";
    color: var(--color-pink-400);
    content: '\e002';
    font-size: 1.5rem;
    padding-right: 1rem;
    float:left;
    height: 80px;
    }
}
.umich-lib-callout.block {
  border-left: solid 4px var(--color-neutral-300);
  color: var(--color-neutral-300);
  border-radius: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  margin-left: 2rem;
  padding: .25rem 1rem;
}

blockquote {
  border-top: solid 1px transparent;
  border-right: solid 1px transparent;
  border-bottom: solid 1px transparent;
  margin-left: 2rem;
  padding-top: 0;
  padding-bottom: 0;
  border-left: solid 4px transparent;
  font-weight: normal;
  color: var(--color-neutral-400);
}
