@use 'media';
// --------------------------------------------------
//
// # Layout
//   Common building blocks for the site.
//
// ## Table of Contents
//   1. Viewport Container
//   2. Layout
//   3. Flex
//
// --------------------------------------------------

// ************************ //
// *** 1. CONTAINERS ***** //
// ***********************//

.container {
  margin-top: 0;
  margin-bottom: 0;
}

.container-image {
  margin-top: 2.5rem;
  margin-bottom: 3rem;
}

// ****************** //
// *** 2. LAYOUT *** //
// **************** //

.layout {
  margin: 0 auto;
}

.main-content {
  padding-left: 3rem;

@include media.breakpoint('md', 'max-width') {
   padding-left: 0;
  }
}

.main-content.home {
  padding-left: 0;
}


// **************** //
// *** 3. FLEX *** //
// ***************//

.flex-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: stretch;

  @include media.breakpoint('sm', 'max-width') {
    gap: 1rem;
   }
}

.flex-layout > :first-child {
  flex-grow: 1;
  flex-basis: 16rem;
}

.flex-layout > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}

// 404 Page Layout with Image 

.flex-static {
  display: flex;
  flex-wrap: wrap;

  .main-content {
    width: 50%;

    @include media.breakpoint('sm', 'max-width') {
      width: 100vw;
      }
  }
}

.image-404-page {
  width: 50%;

  @include media.breakpoint('sm', 'max-width') {
   display: none;
   }
}