@use 'media';
// --------------------------------------------------
//
// # Navigation
//
// ## Table of Contents
//   1. Primary navigation (Side nav)
//     1.2 Mobile Nav
//   2. Utility navigation
// --------------------------------------------------

// ****************************** //
// *** 1. Primary navigation - Sitewide side nav *** //
// **************************** //

.page-aside {
  border-right: solid 1px var(--color-neutral-100);

   @include media.breakpoint('md', 'max-width') {
    display: none;
    
    &.show {
      display: block;
      border: solid 1px var(--color-neutral-100);
    }
  }
}

.site-side-nav ul {
  padding-left: 0;
  margin-top: 0;
 }

 .top-level-nav li {
   list-style: none;
   border-bottom: solid 1px var(--color-neutral-100);
   padding: 0;
 }

  .child-level-nav li {
   list-style: none;
   border: none;
   padding: 0;

   a {
    color: var(--color-neutral-400);
    text-decoration: none;
    display: block;
    padding: .5rem 0 .5rem 1rem;
   }

   a:hover {
    text-decoration: underline;
    background-color: var(--color-maize-100);
   }
   
   a[aria-current="page"] {
    text-decoration: underline;
    background-color: var(--color-teal-100);
   }
 }

// 1.2 Header Toggle for Mobile Nav

.side-nav-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;

  @include media.breakpoint('md', 'max-width') {
   display: block;
 } 
}

button[aria-expanded]::after {
  font-family: "Material Symbols Rounded";
  font-size: 2.5rem;
  content: "\e5d2"; // menu icon
  color: var(--color-neutral-400);
}

button[aria-expanded="true"]::after {
  font-family: "Material Symbols Rounded";
  font-size: 2.5rem;
  content: "\e5cd"; // close icon
  color: var(--color-neutral-400);
}

// ****************************** //
// *** 2. Utility navigation *** //
// **************************** //

.utility-nav {
    margin-top: 1.5rem;
}

.utility-nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 1rem;
  display: flex;
  flex-flow: column wrap;

  li {
    display: inline;
    padding: .25rem 0;
  }

  li:not(:last-child) {
    margin-right: 1rem;
  }

  li a {
    font-size: 0.875rem;
    text-decoration: none;
    color: var(--color-neutral-300);
    text-transform: uppercase;
    font-weight: var(--bold);
    letter-spacing: 1.25px;
    display: flex;
    align-items: flex-start;
    gap: 0.25rem;
  }
  li a:hover {
    text-decoration: underline;
  }
}