// --------------------------------------------------
//
// # Base Global Styles
//
// --------------------------------------------------

.headers {
  border-bottom: solid 2px var(--color-neutral-100);
}

.container {
  margin-top: 4rem;
  margin-bottom: 3rem;
}