// --------------------------------------------------
//
// # Cards
//   Card components for home and landing pages
//
// --------------------------------------------------


.ovals {
  position: absolute;
  top: 3rem;
  left: -1rem;
  z-index: -1;
}

.card-container {
  position: relative;
  padding: 4rem 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 430px));
  justify-content: center;
  gap: 1rem 2rem;

  a {
    text-decoration: none;
    transition: all ease-in 0.5s;
    display: inherit;
    border-radius: 6px;
  }

  a:hover {
    box-shadow: -8px 8px 0 0 var(--color-orange-500);
    transform: translate(6px, -6px);
  }
}

.card {
  background-color: var(--color-blue-100);
  padding: 1rem 1.5rem; 
  border-radius: 6px;
  border: solid 1px var(--color-blue-200);

  h2 {
    text-decoration: var(--color-teal-400) underline;
    text-underline-offset: .35rem;
    font-weight: 600;
  }

  h2, p {
    color: var(--color-neutral-400);
  }
}