.cp_embed_wrapper {
  width: calc(min(1280px, 80vw) - 12rem);
}

.codepen {
  height: 300px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  margin: 1em 0;
  padding: 1em;
}