@use 'media';
// --------------------------------------------------
//
// # Navigation
//
// ## Table of Contents
//   1. Primary navigation
//   2. Side navigation
// --------------------------------------------------

// ****************************** //
// *** 1. Primary navigation *** //
// **************************** //

.primary-nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-flow: row wrap;
  
  @include media.breakpoint('sm', 'max-width') {
    display: none;
   }
  
  li {
    display: inline;
    margin-right: 1.5rem;
    font-size: 1.175rem;
    height: 100%;
    padding-top: .5rem;
  
  @include media.breakpoint('sm', 'max-width') {
    margin-right: 1rem;
    padding-top: .25rem;
   }
  }
}

.primary-nav ul li a {
    color: var(--color-neutral-400);
    text-decoration: none;
    display: inline-block;
    border-bottom: solid 3px transparent;
    cursor: pointer;
    padding-bottom: calc(1rem - 3px);
    height: 100%;
  &:hover {
      border-color: #1D7491;
  }
  &.active {
    border-color: #1D7491;
}
  @include media.breakpoint('sm', 'max-width') {
   font-size: 1rem;
   padding:0;
  }
}

// 1.2 Mobile Nav

.website-header-mobile {
  @include media.breakpoint('sm', 'max-width') {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.mobile-nav {
  @include media.breakpoint('sm', 'min-width') {
  display: none;
 }

 .submenu-container {
  border-top: 1px solid var(--color-neutral-100);
  margin-top: 20px;
  position: absolute;
  right: calc(-1rem);
  width: 50vw;
  background: white;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 8px 0px;
  z-index: 101;
 }
}

.mobile-nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;

   li {
    border-bottom: 1px solid rgb(229, 233, 237);
    padding: 1rem;
   }
   
   a {
    text-decoration: none;
   }

   a:hover{
    text-decoration: underline;
   }
}

[hidden] {
  display: none;
}

button.nav {
  background: #fff;
  border: none;
}

button[aria-expanded]::after {
font-family: "Material Icons";
font-size: 2.5rem;
content: "\e5d2";
}

button[aria-expanded="true"]::after {
font-family: "Material Icons";
font-size: 2.5rem;
content: "\e5cd";
}




// *************************** //
// *** 2. Side navigation *** //
// ************************* //


.side-nav {
  position: sticky;
  top: 1.5rem;

  @include media.breakpoint('xs', 'max-width') {
    display: none;
   }
}

.side-nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
 }
 
 .side-nav li {
   display: block;
 }
 
 .side-nav li a {
   color: var(--color-neutral-400);
   text-decoration: none;
   display: block;
   padding: 1rem 0 1rem 1rem;
 
   &:hover {
     text-decoration: underline;
     text-decoration-thickness: 0.125rem;
   }
 }

 .side-nav li:not(:last-child){
  border-bottom: solid 1px var(--color-neutral-100);
}
 
 .side-nav li.active-side-nav-page a {
   color: var(--color-teal-400);
   font-weight: var(--bold);
   border-left: solid 4px var(--color-teal-400);
 }