@use 'media';
// --------------------------------------------------
//
// # Navigation
//
// ## Table of Contents
//   1. Primary navigation
//   2. Side navigation
// --------------------------------------------------

// ****************************** //
// *** 1. Primary navigation *** //
// **************************** //

.primary-nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  
  li {
    display: inline;
    margin-right: 1.5rem;
    font-size: 1.175rem;
    height: 100%;
    padding-top: .5rem;
  
  @include media.breakpoint('sm', 'max-width') {
    margin-right: .25rem;
   }
  }
}

.primary-nav ul li a {
    color: var(--color-neutral-400);
    text-decoration: none;
    display: inline-block;
    border-bottom: solid 3px transparent;
    cursor: pointer;
    padding-bottom: calc(1rem - 3px);
    height: 100%;
  &:hover {
      border-color: #1D7491;
  }
  &.active {
    border-color: #1D7491;
}
  @include media.breakpoint('sm', 'max-width') {
   font-size: 1rem;
  }
}


// *************************** //
// *** 2. Side navigation *** //
// ************************* //

.side-nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
 }
 
 .side-nav li {
   text-transform: capitalize;
   display: block;
 }
 
 .side-nav li a {
   color: var(--color-neutral-400);
   text-decoration: none;
   display: block;
   padding: 1rem 0 1rem 1rem;
 
   &:hover {
     text-decoration: underline;
     text-decoration-thickness: 0.125rem;
   }
 }

 .side-nav li:not(:last-child){
  border-bottom: solid 1px var(--color-neutral-100);
}
 
 .side-nav li.active-side-nav-page a {
   color: var(--color-teal-400);
   font-weight: var(--bold);
   border-left: solid 4px var(--color-teal-400);
 }