// --------------------------------------------------
//
// # Page pagination and Back to Top
// 
// --------------------------------------------------

.back-to-top {
  display: flex;
  justify-content: flex-start;
  margin-right: 3rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.back-to-top-link {
  text-decoration: none;
  font-weight: var(--semibold);
}

.back-to-top-link::before {
  font-family: 'Material Icons';
  content: '\e5d8';
  padding-right: .25rem;
  vertical-align: bottom;
}

.page-pagination {
  display: flex;
  align-items: baseline;
  padding-top: 1rem;
  max-width: 90ch;

  .line {
    border: solid 1px var(--color-neutral-100);
    width: 100%;
  }
}

.pagination-text {
  margin-left: 1rem;
  font-weight: bold;
  max-width: 65ch;
  h2 {
    color: var(--color-teal-500);
    font-size: 1.125rem;
    margin-bottom: .5rem;
  }
  a {
    color: var(--color-neutral-400);
    font-size: 1.125rem;
  }
}