<section class="callout">
  <svg role="presentation" aria-hidden="true" focusable="false" id="callout-box-svg" viewBox="0 0 280 282">
    <style type="text/css">
      .border {
        stroke-width: 8;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 1.5;
      }
    </style>
    <path class="rectangle" fill="#A7CDDB" stroke="none" d="M0,0h250v250H0V0z"/>
    <path class="border" fill="none" stroke="#65A8BF" d="M26.3,28.3h250v250h-250V28.3z"/>
  </svg>
  <div class="viewport-container">
    <h2>Quick resources</h2>
    <div class="callout-container">
      <a href="/visual-elements/logo/">
        <div class="callout-card">
          <div class="callout-card-icon-container">
            <span class="callout-card-icon logo-icon material-icons" aria-hidden="true">
              collections
            </span>
          </div>
          <div>
            <h3>Logo</h3>
            <p>Guidelines for using the logo online and in print, with downloadable files.</p>
          </div>
        </div>
      </a>
       <a href="/visual-elements/color/">
        <div class="callout-card">
          <div class="callout-card-icon-container">
            <span class="callout-card-icon palette-icon material-icons" aria-hidden="true">
              palette
            </span>
          </div>
          <div>
            <h3>Colors</h3>
            <p>Find our brand colors and other available styles.</p>
          </div>
        </div>
      </a>
      <a href="https://www.figma.com/@mlibrary">
        <div class="callout-card">
          <div class="callout-card-icon-container">
            <span class="callout-card-icon design-services-icon material-icons" aria-hidden="true">
              design_services
            </span>
          </div>
          <div>
            <h3>Figma UI Toolkit <span class="visually-hidden">Opens in new window</span></h3>
            <p class="opens-new-window">Find the styles and components from our Figma Design Library in the Figma Community.</p>
          </div>
        </div>
      </a>
      <a href="https://drive.google.com/drive/folders/1uIDCY-OIyd2cET3PkpZVOco32wGKsM91?usp=share_link">
        <div class="callout-card">
          <div class="callout-card-icon-container">
            <span class="callout-card-icon description-icon material-icons" aria-hidden="true">
              description
            </span>
          </div>
          <div>
            <h3>Document Templates <span class="visually-hidden">Opens in new window</span></h3>
            <p class="opens-new-window">Use our accessible Google slides and document templates.</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>