<article class="feedback-banner">
  <div class="viewport-container feedback-banner-container">
    <span class="contact-icon material-symbols-rounded" aria-hidden="true">email</span>
    <p>Can't find what you need? Please <a href="/about/get-in-touch">contact us</a>. We'll respond as soon as possible — usually within 2 business days — to discuss your request.</p>
  </div>
</article>