<nav aria-label="Primary" class="mobile-nav">
  <span class="navBtn">
  </span>
  <div class="submenu-container">
    <ul>
      {% for entry in collections.landingPage %}
        <li>
          <a {% if page.url == entry.url %} aria-current="page" class="active" {% endif %} href="{{ entry.url }}">
            {{ entry.data.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>