<nav aria-label="Primary and utility" class="mobile-nav">
  <span class="navBtn">
  </span>
  <div class="submenu-container">
    <div class="primary-container">
    <ul>
      {% for entry in collections.landingPage | eleventyNavigation('home')  %}
        <li>
          <a {% if page.url == entry.url %} aria-current="page" class="active" {% endif %} href="{{ entry.url }}">
            {{ entry.title }}
          </a>
        </li>
      {% endfor %}
    

    </ul>
  </div>
    <div class="utility-container">
      <ul>
    <li><a href="https://design-system.lib.umich.edu/visual-elements/color/">
    <span aria-hidden="true" class="material-symbols-rounded">palette</span>
      <span >Colors</span>
    </a>
    </li>
    <li><a href="https://drive.google.com/drive/folders/1uIDCY-OIyd2cET3PkpZVOco32wGKsM91">
    <span aria-hidden="true" class="material-symbols-rounded">folder</span>
      <span class="google-link">Templates and Themes</span>
    </a>
    </li>
    <li>
      <a href="https://www.figma.com/@mlibrary">
      <span aria-hidden="true" class="material-symbols-rounded">interests</span>
      <span class="figma-link">Figma Toolkit</span>
    </a>
    </li>
    <li>
      <a href="https://codepen.io/team/umlibrary-designsystem">
      <span aria-hidden="true" class="material-symbols-rounded">code</span>
      <span class="code-link">CodePen</span>
    </a>
    </li>
  </ul>
  </div>
  </div>
</nav>