<nav aria-label="Primary" class="primary-nav viewport-container flex flex-wrap align-items-center">
  <ul>
    {% for entry in collections.landingPage %}
      <li>
        <a {% if page.url == entry.url %} aria-current="page" class="active" {% endif %} href="{{ entry.url }}">
          {{ entry.data.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <div id="search" class="search" style=""></div>
</nav>