<nav aria-label="Primary" class="site-side-nav" id="side-navigation">
  <ul class="top-level-nav">
    {% for parent in collections.landingPage | eleventyNavigation('home') %}
      <li>
        <details {% if parent.url == page.url or eleventyNavigation.parent == parent.key %}open{% endif %}>
          <summary>{{ parent.title }}</summary>
          
          <ul class="child-level-nav">    
            {# Use custom collection for Reusable Designs, regular navigation for others #}
            {% if parent.key == "Reusable Designs" %}
              {# Use A-Z sorted collection #}
              {%- for child in collections.reusableDesignAtoZ %}
                <li>
                  <a href="{{ child.url }}" {% if page.url == child.url %}aria-current="page"{% endif %}>
                    {{ child.data.title }}
                  </a>
                </li>
              {%- endfor %}
            {% else %}
              {# Use regular navigation for other sections #}
              {% set childPages = collections.pages | eleventyNavigation(parent.key) %}
              {%- for child in childPages %}
                <li>
                  <a href="{{ child.url }}" {% if page.url == child.url %}aria-current="page"{% endif %}>
                    {{ child.title }}
                  </a>
                </li>
              {%- endfor %}
            {% endif %}
          </ul>
        </details>
      </li>
    {% endfor %}
  </ul>
</nav>

<nav aria-label="Utility" class="utility-nav flex flex-wrap align-items-center">
  <ul>
    <li><a href="/visual-elements/color/">
      <span class="utility-icon">
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="currentColor" role="img" aria-hidden="true" focusable="false"><path d="M480-96q-79 0-149-30t-122.5-82.5Q156-261 126-331T96-480q0-80 30.5-149.5t84-122Q264-804 335.5-834T488-864q78 0 146.5 27T754-763q51 47 80.5 110T864-518q0 96-67 163t-163 67h-68q-8 0-14 5t-6 13q0 15 15 25t15 53q0 37-27 66.5T480-96Zm0-384Zm-216 36q25 0 42.5-17.5T324-504q0-25-17.5-42.5T264-564q-25 0-42.5 17.5T204-504q0 25 17.5 42.5T264-444Zm120-144q25 0 42.5-17.5T444-648q0-25-17.5-42.5T384-708q-25 0-42.5 17.5T324-648q0 25 17.5 42.5T384-588Zm192 0q25 0 42.5-17.5T636-648q0-25-17.5-42.5T576-708q-25 0-42.5 17.5T516-648q0 25 17.5 42.5T576-588Zm120 144q25 0 42.5-17.5T756-504q0-25-17.5-42.5T696-564q-25 0-42.5 17.5T636-504q0 25 17.5 42.5T696-444ZM480-168q11 0 17.5-8.5T504-192q0-16-15-28t-15-50q0-38 26.5-64t64.5-26h69q66 0 112-46t46-112q0-115-88.5-194.5T488-792q-134 0-227 91t-93 221q0 130 91 221t221 91Z"/></svg>
      </span>
      <span>Colors</span>
    </a>
    </li>
    <li><a href="https://drive.google.com/drive/folders/1uIDCY-OIyd2cET3PkpZVOco32wGKsM91">
      <span class="utility-icon">
      <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="currentColor" aria-hidden="true" focusable="false" role="img"><path d="M168-192q-29 0-50.5-21.5T96-264v-432q0-29.7 21.5-50.85Q139-768 168-768h216l96 96h312q29.7 0 50.85 21.15Q864-629.7 864-600v336q0 29-21.15 50.5T792-192H168Zm0-72h624v-336H450l-96-96H168v432Zm0 0v-432 432Z"/></svg></span>
      <span>Templates and Themes</span><span class="sr-only visually-hidden">opens in Google Drive</span>
    </a>
    </li>
    <li>
      <a href="https://www.figma.com/@mlibrary">
      <span class="utility-icon">
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="currentColor"aria-hidden="true" focusable="false" role="img"><path d="m359-511 90-90-54-55-20 20q-11 11-25.5 11T324-636q-11-11-11-25.5t11-25.5l20-20-56-55-90 90 161 161Zm313 313 90-90-54-55-20 20q-11 11-25.5 11T637-323q-11-11-11-25.5t11-25.5l20-20-56-55-90 90 161 161Zm21-546 51 51-51-51ZM180-144q-15 0-25.5-10.5T144-180v-102q0-8 3-14t8-11l153-153-174-174q-16-16-16-38t16-38l116-116q16-16 38-16t38 16l174 174 142-143q11-11 24-16t27-5q14 0 27 5t24 16l51 51q11 11 16 24t5 27q0 14-5 27t-16 24L652-500l174 174q16 16 16 38t-16 38L710-134q-16 16-38 16t-38-16L460-308 307-155q-5 5-11 8t-14 3H180Zm36-72h51l375-375-51-51-375 375v51Zm401-401-26-25 51 51-25-26Z"/></svg>
      </span>
      <span >Figma Toolkit</span><span class="sr-only visually-hidden">opens in Figma</span>
    </a>
    </li>
    <li>
      <a href="https://codepen.io/team/umlibrary-designsystem">
      <span class="utility-icon">
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="currentColor" aria-hidden="true" focusable="false" role="img"><path d="M336-240 96-480l240-240 51 51-189 189 189 189-51 51Zm288 0-51-51 189-189-189-189 51-51 240 240-240 240Z"/></svg>
      </span>
      <span>Codepen</span><span class="sr-only visually-hidden">opens in Codepen</span>
    </a>
    </li>
  </ul>
</nav>